body{
    background-color: fuchsia;
}

#monster{
    position: relative;
    top: -100px;
    width: 400px;
    height: 450px;
    left: 380px;
    transform: rotate(180deg);
    visibility: hidden;
}
.button{
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: blue;
    font-family:  Helvetica;
    position: relative;
    left: 520px;
    bottom: 50%;
    
}